/* #region Body styling */
body {
    background-image: url("../images/websiteBackground.jpg");
    /* background-size: cover; */
    margin: 0;
    padding: 0;
    height: 100vw;
    overflow: hidden;
}
/* #endregion */

/* #region Navigation bar styling */
.topnav {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    font-weight: 100;
    position: sticky;
    top: 0;
    z-index: 1;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0 16px;
    margin: 0;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Cedarville Cursive', cursive;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    color: white;
}

.topnav #application {
    font-weight: 900;
}

.topnav #date, #wifi, #battery {
    float: right;
}

.topnav #battery {
    position: relative;
}

.topnav #batteryFill {
    position: absolute;
    height: 5px;
    width: 14px;
    background-color: white;
    top: 37.5%;  
    margin-left: 3px;  
}

.fa-bolt {
    position: absolute;
    left: 21px;
    color: rgb(153, 153, 153);
}

.batteryStat, .networkStatus {
    margin: 5px;
}

#batteryInfo, #networkInfo {
    position: absolute;
    display: none;
    top: 32px;
    right: 0;
    width: 285px;
    height: 125px;
    border: solid transparent;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
}

.active #batteryInfo, .active #networkInfo {
    display: block;
}

.DPDC {
    float: right;
    display: none !important;
    position: absolute !important;
    right: 0;
}

.active {
    display: block !important;
}
/* #endregion */

/* #region Welcome message styling */
.welcome {
    color: white;
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

#welcomeText {
    text-align: center;
}

@media (max-width: 600px) {
    .welcome {
        font-size: 1.2rem;
    }
}

.welcome button {
    background-color: rgb(175, 59, 140);
    border-radius: 15px;
    border-color: transparent;
    height: 40px;
    width: 200px;
    color: white;
    font-size: 1.25rem;
    font-family: 'Cedarville Cursive', cursive;
    cursor: pointer;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#welcomeTopArrow {
    margin: 0;
}

#welcomeBottomArrow {
    margin: 0;
}
/* #endregion */

/* #region Custom right click menu */
.break {
    flex-basis: 100%;
    height: 0;
}

.context-menu {
    position: absolute;
    text-align: left;
    background: #333;
    border: 1px solid lightslategray;
    border-radius: 5px;
    opacity: 0.75;
    padding: 2px;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid black; */
    border-radius: 5px;
    color: white;
}

.context-menu ul li a {
    text-decoration: none;
}

.context-menu ul li:hover {
    background: darkgray;
}

#currentApp {
    position: absolute;
    top: 33px;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 50%;
    height: 50%;
    background-color: #f1f1f1;
    /* border: 1px solid #d3d3d3; */
    border-radius: 5px;
    text-align: center;
    resize: both;
    overflow: auto;
}

#currentAppHeader {
    padding: 5px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.actionButtons {
    float: left;
    padding-left: 3px;
    padding-right: 3px;
}

#close {
    color: #FF605C;
    cursor: pointer;
}

#minimize {
    color: #FFBD44;
    cursor: pointer;
}

#maximize {
    color: #00CA4E;
    cursor: pointer;
}

.appName {
    float: center;
}

.appContent {
    height: calc(100% - 28px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#img {
    max-width: 500px;
    max-height: 500px;
    cursor: pointer;
}

#file {
    margin-left: 50px;
}

#setBackground {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

.hidden {
    display: none;
}
/* #endregion */

/* #region Bottom application bar */
.bottomnav {
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;   
    top: 90vh;
    width: 400px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    border: solid white;
    border-radius: 25px;
    border-width: 2px;
    background-color: rgba(85, 85, 85, 0.5);
}

@media (max-width: 600px) {
    .bottomnav {
        top: 80vh;
    }
}

.bottomnav div#app4 {
    overflow: hidden;
}

.bottomnav div#app4 img {
    position: absolute;
    width: 150%;
    left: -25%;
}
/* #endregion */

/* #region Applications */
.application {
    position: relative;
    height: 30px;
    width: 30px;
    margin: 10px;
    border: solid white;
    border-radius: 10px;
    border-width: 2px;
    background-color: white;
}

.application img#desktopImage {
    position: relative;
    width: 50px;
    height: 30px;
    margin-left: -10px;
    margin-top: 0px !important;
}

div#app0 h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cedarville Cursive', cursive;
    color: white;
    margin: 0;
    height: 30px;
}

.application img#spotifyImage {
    width: 50px;
    height: 30px;
    margin-left: -10px;
    margin-top: 0px !important;
}

.application img#newsImage {
    width: 30px;
    height: 30px;
    margin-top: 0px !important;
    border-radius: 15px;
}
/* #endregion */

/* #region App labels */
.rectangle {
    position: absolute;
    bottom: 74px;
    transform: translateX(-36px);
    background: rgba(85, 85, 85, 0.7);
    height: 20px; 
    width: 120px;
    border: solid transparent;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-family: 'Cedarville Cursive', cursive;
}

.triangle-down {
    position: absolute;
    bottom: 54px;
    transform: translateX(17px);
    width: 0;
	height: 0;
    opacity: 70%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #555;
}

.bottomnav div:hover ~ .label {
    display: block !important;
}
/* #endregion */

/* #region Responsive design */
@media (max-width: 600px) {
    #battery, #wifi {
        display: none;
    }
}
/* #endregion */
